.exploreDropdown {
  flex-shrink: 0;
}

.exploreDropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  user-select: none;
}

.exploreDropdownHeader:hover,
.exploreDropdownHeaderActive {
  color: var(--primary-600);
}

.exploreDropdownHeader:hover {
  cursor: pointer;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(90deg);
}

.exploreDropdownContainer {
  position: absolute;
  top: 8.4rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 8rem);
  z-index: 9999;
}

.noScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
